<h1>Posts</h1>

<div>
    <% @posts.each do |post| %>
        <div>
            <strong>
                <%= link_to post.title, post %>
            </strong>
            <div>
                <p>
                    <%= post.body %>
                </p>
            </div>
        </div>
        <% end %>
</div>

<%= link_to "New Post" , new_post_path %>