<h1>Posts</h1>

<%= Post.public_count %> posts and counting!

    <div>
        <% @posts.each do |post| %>
            <% unless post.archived? %>
                <div>
                    <strong>
                        <%= link_to post.title, post %>
                    </strong>
                    <div>
                        <p>
                            <%= post.body %>
                        </p>
                    </div>
                </div>
                <% end %>
                    <% end %>
    </div>

    <%= link_to "New Post" , new_post_path %>